@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root{
  --maincolor :#fad4c0; 
  --subcolor:#faf0e9;
  --textcolor:#cba135;
  --hovercolor:#b2afa7;
}



body {
  background-color:var(--subcolor);
}


/*text*/
p{
  color: var(--textcolor);
}

h2{
  color: var(--textcoler);
  text-align: center;
}

main h2{
  color: var(--textcolor);
  text-align: center;
  padding-top: 15px;
}

main a p:hover{
  color: var(--subcoler);
}




/*header*/
header {
  background: var(--maincolor);
  color: var(--textcolor);
  padding: 10px 20px;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 30;
  height: 50px;
}

header h1 {
  font-family: "louvette-display","hiragino-mincho-pron", cursive, sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 6px 0;
}

header h1 a {
  color: var(--textcolor);
}

.header h1 a:hover {
color:var(--hovercolor);
}

.main-menu ul li a:hover {
  background: var(--maincolor);
  color: var(--hovercolor);
}



footer {
  background: var(--maincolor);
  color: var(--textcolor);
  padding: 40px;
  text-align: center;
  font-family: "louvette-display","hiragino-mincho-pron", cursive, sans-serif;
    
}



/*main-menu*/
.main-menu {
  background: var(--maincolor);
  color: #FFF;
  position: absolute;
  font-family: "louvette-display","hiragino-mincho-pron", cursive, sans-serif;
  top: 22px;
  right: 10px;
}

.main-menu ul {
  display: flex;
  margin-top: 0;
}

.main-menu ul li a {
  color: var(--textcolor);
  width: auto;
  margin-right: 20px;
  font-size: 20px;
}



/*main*/
main {
  z-index: 10;
   width: 84%;
  max-width: 1280px;
  height: auto;
  font-family: "louvette-display","hiragino-mincho-pron", cursive, sans-serif;
  text-align: center;
  margin: 2rem auto;
  background-color:var(--subcolor);
}

main a p:hover{
  color: var(--hovercolor);
}



.img-item{
  margin: 2rem;
}




/*javascript*/
#gallery {
  display: grid;
  max-width: 1000px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

/*works img*/
a img{
  width: 100%;
  height: auto;
  
}

img {
  max-width: 100%;
  margin: 0;
  display:block;
}

.main-vl img{
  width: 100%;
max-width: 1980px;
  height: auto;
 margin: auto;
  
}

a.pagetop {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 12px;
  border-radius: 10px;
  background-color: var(--subcolor);
  color: var(--maincolor);
  position: fixed;
  bottom: 10px;
  right: 20px;
}

html {
  scroll-behavior: smooth;
}



/*スマホ用*/
@media all and (max-width: 599px) {
  
  .main-menu ul {
    display: flex;
  }

  .main-menu ul li {
    text-align: center;
    flex-direction: unset;
  }

  .main-menu ul li a {
    color: var(--textcolor);
    width: auto;
    margin-right: 20px;
    font-size: 18px;
  }

  main {
    display: block;
    
  }

  .sub-menu ul li {
    text-align: center;
  }
  
  
  .pict {
    width: 100%;
    
  }

  main h2 {
    font-size: 13px;
  }

  .text{
    margin: 0;
  }
  
  .flex{
    flex-direction: column;
  }

  #gallery {
  
    grid-template-columns: 1fr 1fr;
  
  }
  
}