@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root{
  --maincolor :#753b36; 
  --subcolor:#FFFAF4;
  --textcolor:#553501;
  --maintextcolor:#cba135;
  --hovercolor:#b2afa7;
  --tukinecolor:#E6B24C;
  --shiratamacolor:#BD7071;
}



body {
  background-color:var(--subcolor);
}

article{
  max-width: 940px;
  margin: 2rem auto;
  justify-content: center;
}

/*text*/
p{
  color: var(--textcolor);
}

h2{
  color: var(--textcoler);
  text-align: center;
}

main h2{
  color: var(--textcolor);
  text-align: center;
  padding-top: 15px;
  font-size: 25pt;
}



h3{
  color: var(--textcolor);
}


.textA{
  margin: 2rem 2rem 4rem 2rem;/*上・右・下・左*/
}

.textA p{
  margin: 2rem 0;
  line-height: 2rem;
}

.textB{
  width: 80%;          /* 任意の幅 */
  max-width: 600px;    /* 広がりすぎ防止 */
 justify-content: right;
}

.textB p{
   text-align: right;
}



.textC{
  text-align: left;
  flex: 2;
  margin: 2rem;/*上・右・下・左*/
  margin: 0 auto;
  max-width: 550px;
  border-radius: 10px;
}

.textC p{
  color: var(--textcolor);
  padding: 2rem;
}

.textC h2{
  color: var(--maintextcolor);
  text-align: center;
  margin: 0 2rem ;
}

.textD{
  text-align: right;
  margin-top: 10px;
  font-size: 10pt;
  text-decoration: underline;
}

/*アイコンテキスト*/
.icon1 h3{
color: var(--tukinecolor);
font-size: 20pt;
margin-top: 10px;
}

.icon2 h3{
color: var(--shiratamacolor);
font-size: 20pt;
margin-top: 10px;
}


/*header*/
header {
  background: var(--maincolor);
  color: var(--maintextcolor);
  padding: 10px 20px;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 30;
  height: 50px;
}

header h1 {
  font-family: "firula","louvette-display","hiragino-mincho-pron", cursive, sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 6px 0;
}

header h1 a {
  color: var(--maintextcolor);
}

.header h1 a:hover {
color:var(--hovercolor);
}

.main-menu ul li a:hover {
  background: var(--maincolor);
  color: var(--hovercolor);
}



footer {
  background: var(--maincolor);
  color: var(--maintextcolor);
}

footer p{
  color: var(--maintextcolor);
  padding: 40px;
  text-align: center;
  font-family: "louvette-display","hiragino-mincho-pron", cursive, sans-serif;
}


/*main-menu*/
.main-menu {
  background: var(--maincolor);
  position: absolute;
  font-family: "louvette-display","hiragino-mincho-pron", cursive, sans-serif;
  top: 22px;
  right: 10px;
}

.main-menu ul {
  display: flex;
  margin-top: 0;
}

.main-menu ul li a {
  color: var(--maintextcolor);
  width: auto;
  margin-right: 20px;
  font-size: 20px;
}



/*main*/
main {
  z-index: 10;
   width: 84%;
  max-width: 1280px;
  height: auto;
  font-family: "louvette-display","hiragino-mincho-pron", cursive, sans-serif;
  text-align: center;
  margin: 2rem auto;
  margin-bottom: 4rem;
  background-color:var(--subcolor);
}

main a p:hover{
  color: var(--hovercolor);
}

main a h3:hover{
  color: var(--hovercolor);
}


.img-item{
  margin: 2rem;/*上・右・下・左*/

}

.box{
  display: flex;
 margin-bottom: 6rem;
}

.box2{
 text-align: center;
  gap: 60px;
  width: 100%;
  max-width: 1080px;
  margin: 1rem auto; 
}


/*javascript*/
#gallery {
  display: grid;
  max-width: 1000px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

/*works img*/
.img-item img{
  /*border: 5mm solid #553501;*/
  border-radius: 10px;
}

a img{
  width: 100%;
  height: auto;
  
}

img {
  max-width: 100%;
  margin: 0;
  display:block;
}

.main-vl img{
  width: 100%;
max-width: 1980px;
  height: auto;
 margin: auto;
  
}

.icon1 img{
  margin: 0 auto;
  flex: 1;
  border-radius: 50%; 
  display: block; 
  max-width: 200px;
  height: auto;
  border: 5px solid var(--tukinecolor); 
  text-align: center;
}

.icon2 img{
  margin: 0 auto;
  flex: 1;
  border-radius: 50%; 
  display: block; 
  max-width: 200px;
  height: auto;
 border: 5px solid var(--shiratamacolor); 
}



a.pagetop {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 12px;
  border-radius: 10px;
  background-color: var(--subcolor);
  color: var(--maincolor);
  position: fixed;
  bottom: 10px;
  right: 20px;
}

html {
  scroll-behavior: smooth;
}



/*スマホ用*/
@media all and (max-width: 599px) {

  header h1 {
  text-align: left;
  
  }
  
  .main-menu ul {
    display: flex;
  }

  .main-menu ul li {
    text-align: center;
    flex-direction: unset;
  }

  .main-menu ul li a {
    width: auto;
    margin-right: 20px;
    font-size: 18px;
  }

  main {
    display: block;
    
  }

  .sub-menu ul li {
    text-align: center;
  }
  
  
  .pict {
    width: 100%;
    
  }

  main h2 {
    font-size: 25px;
  }

  .text{
    margin: 0;
  }
  
  .flex{
    flex-direction: column;
  }

  .box{
    flex-direction: column;
    scroll-margin-top: 15px;
  }

  .box2{
    flex-direction: column;
  }
 
.box3{
    flex-direction: column;
  }


  #gallery {
  
    grid-template-columns: 1fr 1fr;
    display: block;
  }
  
}